
<VirtualHost *:80>

    ServerName {{ vhost.server_name }}
{% if vhost.server_alias is defined %}
    ServerAlias {{ vhost.server_alias }}
{% else %}
    ServerAlias {{ vhost.server_name }}
{% endif %}

    Alias /.well-known/acme-challenge/ /var/www/vhosts/{{ vhost.server_name }}/httpdocs/.well-known/acme-challenge/
    <Directory "/var/www/vhosts/{{ vhost.server_name }}/httpdocs/.well-known/acme-challenge/">
              Options None
              AllowOverride None
              ForceType text/plain
              RedirectMatch 404 "^(?!/\.well-known/acme-challenge/[\w-]{43}$)"
    </Directory>

    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

</VirtualHost>



<VirtualHost *:443>

    ServerName {{ vhost.server_name }}
{% if vhost.server_alias is defined %}
    ServerAlias {{ vhost.server_alias }}
{% else %}
    ServerAlias {{ vhost.server_name }}
{% endif %}

{% if vhost.documentroot is defined %}
    DocumentRoot "{{ vhost.documentroot }}"
{% else %}
    DocumentRoot "/var/www/vhosts/{{ vhost.server_name }}/httpdocs"
{% endif %}


	ErrorLog "/var/www/vhosts/{{ vhost.server_name }}/logs/apache_error.log"
    CustomLog /var/www/vhosts/{{ vhost.server_name }}/logs/access.log combined


	SSLEngine on
	SSLCertificateFile /etc/letsencrypt/{{ vhost.server_name }}/{{ vhost.server_name }}-fullchain.crt
	SSLCertificateKeyFile /etc/letsencrypt/{{ vhost.server_name }}/{{ vhost.server_name }}.pem


<Proxy "unix:/var/run/php/php7.4-fpm.sock|fcgi://localhost">
   ProxySet timeout=300
</Proxy>



<FilesMatch \.php$>
   SetHandler "proxy:fcgi://localhost"
</FilesMatch>


  <Directory "/var/www/vhosts/{{ vhost.server_name }}/httpdocs">
    AllowOverride All
    Options Indexes FollowSymLinks
    Require all granted
  </Directory>

</VirtualHost>























