<VirtualHost {{ vhost_listen_ip }}:{{ vhost_listen_port }}>
    ServerName {{ users.servername }}
{% if users.serveralias is defined %}
    ServerAlias {{ users.serveralias }}
{% else %}
    ServerAlias {{ users.servername }}
{% endif %}
{% if users.documentroot is defined %}
    DocumentRoot "{{ users.documentroot }}"
{% else %}
    DocumentRoot "/var/www/vhosts/{{ users.servername }}/httpdocs"
{% endif %}

{% if users.serveradmin is defined %}
  ServerAdmin {{ users.serveradmin }}
{% endif %}

    ErrorLog "/var/www/vhosts/{{ users.servername }}/logs/apache_error.log"
    CustomLog /var/www/vhosts/{{ users.servername }}/logs/access.log combined

{% if users.fpm_version is defined %}
<Proxy "unix:/var/run/php/{{ users.fpm_version }}-{{ users.servername }}.sock|fcgi://localhost">
{% else %}
<Proxy "unix:/var/run/php/php7.4-fpm-{{ users.servername }}.sock|fcgi://localhost">
{% endif %}
   ProxySet timeout=300
</Proxy>



<FilesMatch \.php$>
   SetHandler "proxy:fcgi://localhost"
</FilesMatch>

  <Directory "/var/www/vhosts/{{ users.servername }}/httpdocs">
    AllowOverride {{ vhost_allow_override | default(vhost_allow_override) }}
    Options {{ vhost_options | default(vhost_options) }}
    Require all granted
  </Directory>
{% if users.extra_parameters is defined %}
{{ users.extra_parameters | indent(width=2, first=True) }}
{% endif %}
</VirtualHost>
































