<VirtualHost {{ vhost_listen_ip }}:{{ vhost_listen_port }}>
{% for i in user  %}
    ServerName {{ i['vhost_servername'] }}
{% endfor %}


</VirtualHost>
































