
;Sinnvoll wäre die variablen
;listen.allowed_clients
;static - die Anzahl der Kindprozesse ist fest eingestellt (pm.max_children).


[{{ vhost.server_name }}]
user = {{ vhost.user }}
group = {{ vhost.group }}
{% if vhost.fpm_version is defined %}
listen = /var/run/php/{{ vhost.fpm_version }}-{{ vhost.user }}.sock
{% else %}
listen = /var/run/php/php7.4-fpm-{{ vhost.user }}.sock
{% endif %}

listen.owner = www-data
listen.group = www-data
pm = dynamic

pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

access.log = /var/log/php-fpm/$pool.access
access.format = "%R %u [%t] \"%m %r\" %s %d %l"
